<template>
  <v-container>
    <v-row>
      <Cards/>
    </v-row>
    <v-row>
      <v-col cols="12" md="7">
        <v-card rounded class="pa-5" elevation="3">
          <DataTable light="true"/>
        </v-card>
      </v-col>
      <v-col cols="12" md="5">
        <v-card rounded class="pa-5" elevation="3">
          <h2 class="text-center">Wallet Composition</h2>
          <DashboardPie/>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
// @ is an alias to /src
import Cards from "@/components/dashboard/Cards.vue";
import DashboardPie from "@/components/dashboard/DashboardPie.vue";
import DataTable from "@/components/DataTable.vue";
import {mapGetters} from "vuex";

export default {
  name: "Dashboard",
  components: {
    Cards,
    DashboardPie,
    DataTable,
  },
  computed: {
    ...mapGetters({
      myMoney: "wallet/myMoney",
    }),
  },
  created() {
    if (this.$store.getters["user/isLogged"] !== true) {
      this.$router.push("/login");
    }
  },
};
</script>
