<template>
  <v-container>
    <h1>Investments</h1>
    <v-row no-gutters>
      <v-spacer></v-spacer>
      <v-col>
        <v-btn-toggle>
          <v-btn @click="dialog = true">Add Currency</v-btn>
          <v-btn @click="deleteSelection">Delete Selection</v-btn>
        </v-btn-toggle>
      </v-col>
    </v-row>
    <DataTable class="mt-10" v-bind:selected.sync="selected"></DataTable>
    <v-dialog v-model="dialog" persistent max-width="600px">
      <CardAddCurrencyFormVue v-bind:dialog.sync="dialog" />
    </v-dialog>
  </v-container>
</template>

<script>
import DataTable from "@/components/DataTable";
import CardAddCurrencyFormVue from "@/components/investments/CardAddCurrencyForm.vue";

export default {
  name: "Investments",
  components: {
    DataTable,
    CardAddCurrencyFormVue,
  },
  data: () => ({
    dialog: false,
    selected: [],
  }),
  methods: {
    deleteSelection() {
      this.selected.forEach((select) => {
        this.$store.commit("database/deleteCurrencyFromUser", {
          email: this.$store.getters["user/email"],
          name: select.name,
        });
      });
    },
  },
  created() {
    if (this.$store.getters["user/isLogged"] !== true) {
      this.$router.push("/login");
    }
  },
  mounted() {},
};
</script>
