<template>
  <div>
    <v-container>
      <v-card elevation="2">
        <LogIn v-if="!register" />
        <Register v-if="register" />
        <v-row class="pa-5" justify="space-around">
          <v-btn text v-if="!register" @click="onClick">Not register yet ?</v-btn>
          <v-btn text v-if="register" @click="onClick">Already Register ?</v-btn>
        </v-row>
      </v-card>
    </v-container>
  </div>
</template>

<script>
// @ is an alias to /src
import LogIn from '@/components/LogIn.vue'
import Register from '@/components/Register.vue'

export default {
  name: 'Log',
  data: () => ({
    register: false
  }),
  methods: {
    onClick() {
      this.register = !this.register;
    }
  },
  components: {
    LogIn,
    Register
  }
}
</script>
