<template>
    <v-container>
        <v-card elevation="3">
            <UpdaterForm />
        </v-card>
    </v-container>
</template>

<script>
// @ is an alias to /src
import UpdaterForm from '@/components/settings/UpdaterForm.vue'

export default {
    name: 'Settings',
    data: () => ({
    }),
    methods: {
    },
    components: {
        UpdaterForm
    },
    created() {
        if (this.$store.getters["user/isLogged"] !== true) {
            this.$router.push('/login')
        }
    },
}
</script>
