<template>
  <v-bottom-navigation :value="selectedItem">
    <div v-for="(item, index) in items" :key="index">
      <v-btn x-large @click="setSelecteditem(index); setNewPath()">
        <span v-text="item.text"></span>

        <v-icon v-text="item.icon"></v-icon>
      </v-btn>
    </div>
  </v-bottom-navigation>
</template>

<script>
// @ is an alias to /src
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'BottomNavigation',
  data: () => ({
  }),
  computed: {
    ...mapGetters({
      firstName: 'user/firstName',
      lastName: 'user/lastName',
      items: 'navigation/items',
      selectedItem: 'navigation/selectedItem'
    })
  },
  methods: {
    ...mapActions('navigation', [
      'setNewPath'
    ]),
    setSelecteditem(newValue) {
      this.$store.commit('navigation/setSelectedItem', newValue)
    }
  },
  components: {
  },
  created() {
  },
}
</script>
