<template>
  <div>
    <v-data-table
      v-model="localSelected"
      :headers="headers"
      :items="myMoney"
      :search="search"
      :show-select="!light"
      item-key="name"
    >
      <template v-slot:item.eur="{ item }">
        {{ getCurrentPrice(item.name) }}
      </template>
      <template v-slot:item.chart="{ item }">
        <v-sparkline
          :value="get7d(item.name)"
          line-width="2"
          padding="24"
          auto-draw
        ></v-sparkline>
      </template>
      <template v-slot:item.action="{ item }">
        <v-btn
          plain
          @click="onClick(item)"
          :value="item.action"
          line-width="2"
          padding="16"
          >Add trade
        </v-btn>
      </template>
      <template v-slot:item.day="{ item }">
        <v-chip :color="color(get24h(item.name))">
          <span v-if="item.day > 0">+</span>
          {{ get24h(item.name) }}€
        </v-chip>
      </template>
      <template v-slot:item.total="{ item }">
        {{ item.total.toFixed(2) }}€
      </template>
      <template v-slot:item.amount="{ item }">
        {{ item.items.reduce((sum, it) => sum + parseFloat(it.quantity), 0) }}
      </template>
    </v-data-table>
    <v-dialog v-model="dialog" persistent max-width="600px">
      <CardAddCurrencyFormVue
        :key="dialog"
        v-bind:dialog.sync="dialog"
        :tradeCurrency="currency"
      />
    </v-dialog>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import * as utils from "@/services/utils";
import CardAddCurrencyFormVue from "@/components/investments/CardAddCurrencyForm.vue";

export default {
  name: "DataTable",
  props: ["light", "selected"],
  components: {
    CardAddCurrencyFormVue,
  },
  data: () => ({
    search: "",
    headers: [
      { text: "Money", value: "name" },
      { text: "Euro", value: "eur" },
      { text: "7 days", value: "chart" },
      { text: "24h", value: "day" },
      { text: "Total", value: "total" },
      { text: "Amount", value: "amount" },
      { text: "Action", value: "action" },
    ],
    headersLight: [
      { text: "Money", value: "name" },
      { text: "24h", value: "day" },
      { text: "Total", value: "total" },
      { text: "Amount", value: "amount" },
    ],
    dialog: false,
    currency: null,
    localSelected: [],
  }),
  computed: {
    ...mapGetters({
      myMoney: "wallet/myMoney",
      priceChangePercentage24hInCurrency:
        "wallet/priceChangePercentage24hInCurrency",
      currentPrice: "wallet/currentPrice",
      priceChangePercentage7dInCurrency:
        "wallet/priceChangePercentage7dInCurrency",
    }),
  },
  methods: {
    onClick(currency) {
      this.currency = currency.name;
      this.dialog = true;
    },
    color(percentage) {
      return utils.color(percentage);
    },
    get24h(id) {
      let data = this.priceChangePercentage24hInCurrency.find((priceChange) => {
        return priceChange.id === id;
      });
      if (data != null) {
        return data.eur;
      }
      return 0;
    },
    get7d(id) {
      let data = this.priceChangePercentage7dInCurrency.find((priceChange) => {
        return priceChange.id === id;
      });
      if (data != null) {
        return data.seven_days;
      }
    },
    getCurrentPrice(id) {
      let data = this.currentPrice.find((price) => {
        return price.id === id;
      });
      if (data != null) {
        return data.eur;
      }
    },
  },
  watch: {
    localSelected(newValue) {
      this.$emit("update:selected", newValue);
    },
  },
  created() {
    if (this.light) {
      this.headers = this.headersLight;
    }
  },
};
</script>
