<template>
  <v-form>
    <v-container>
      <v-row>
        <v-col cols="12" md="6">
          <v-text-field v-model="email" label="E-mail" required></v-text-field>
        </v-col>

        <v-col cols="12" md="6">
          <v-text-field v-model="password" type="password" label="Password" required></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12">
          <v-btn block @click="onClick">Log in</v-btn>
        </v-col>
      </v-row>
    </v-container>
  </v-form>
</template>

<script>
import {login} from "@/services/auth.js"
import {mapActions} from "vuex"
import {getWallet} from "@/services/database";
import updateWalletMoneyData from "@/services/dataProvider";

export default {
  name: 'LogIn',
  data: () => ({
    password: '',
    email: '',
  }),
  methods: {
    ...mapActions('navigation', [
      'goTo'
    ]),
    onClick() {
      if (login(this.email, this.password)) {
        this.$store.commit('user/setIsLogged', true)
        this.$store.commit('wallet/setMyMoney', getWallet(this.email))
        updateWalletMoneyData();
        this.$router.push("/")
      } else {
        alert("Credentials not corrects.")
      }
    }
  },
}
</script>
