<template>
    <v-navigation-drawer absolute permanent left>
        <v-list-item two-line>
            <v-list-item-avatar>
                <img src="https://randomuser.me/api/portraits/women/81.jpg" />
            </v-list-item-avatar>
            <v-list-item-content>
                <v-list-item-title v-text="getNames()"></v-list-item-title>
                <v-list-item-subtitle>Logged In</v-list-item-subtitle>
            </v-list-item-content>
        </v-list-item>

        <v-divider></v-divider>

        <v-list nav dense>
            <v-list-item-group :value="selectedItem">
                <v-list-item
                    v-for="(item, index) in items"
                    :key="index"
                    @click="setSelecteditem(index); setNewPath()"
                >
                    <v-list-item-icon>
                        <v-icon v-text="item.icon"></v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                        <v-list-item-title v-text="item.text"></v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list-item-group>
        </v-list>
    </v-navigation-drawer>
</template>

<script>
// @ is an alias to /src
import { mapGetters, mapActions } from 'vuex'

export default {
    name: 'NavigationDrawer',
    data: () => ({
    }),
    computed: {
        ...mapGetters({
            firstName: 'user/firstName',
            lastName: 'user/lastName',
            items: 'navigation/items',
            selectedItem: 'navigation/selectedItem'
        })
    },
    methods: {
        ...mapActions('navigation', [
            'setNewPath'
        ]),
        setSelecteditem(newValue) {
            this.$store.commit('navigation/setSelectedItem', newValue)
        },
        getNames(){
            return this.firstName + ' ' + this.lastName
        }
    },
    components: {
    }
}
</script>
