<template>
  <v-container fluid>
    <v-row dense>
      <v-col>
        <v-card rounded elevation="3" class="pa-5">
          <v-card-title>Total Value</v-card-title>

          <v-card-text class="text-center">
            <p class="text-h4 text--primary">{{ this.total.toFixed(2) }}€</p>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>

            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn color="primary" dark v-bind="attrs" v-on="on" icon>
                  <v-icon @click="goTo('/investments')">mdi-eye</v-icon>
                </v-btn>
              </template>
              <span>Show invests</span>
            </v-tooltip>
          </v-card-actions>
        </v-card>
      </v-col>
      <v-col>
        <v-card rounded elevation="3" class="pa-5">
          <v-card-title>Change on 24H</v-card-title>

          <v-card-text class="text-center">
            <p class="text-h4 text--primary">{{ getChange().toFixed(2) }}€</p>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>

            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn color="primary" dark v-bind="attrs" v-on="on" icon>
                  <v-icon @click="goTo('/investments')">mdi-eye</v-icon>
                </v-btn>
              </template>
              <span>Show invests</span>
            </v-tooltip>
          </v-card-actions>
        </v-card>
      </v-col>
      <v-col>
        <v-card rounded elevation="3" class="pa-5">
          <v-card-title>Profit/Loss</v-card-title>

          <v-card-text class="text-center">
            <p class="text-h4 text--primary">{{this.profit.toFixed(2)}}€</p>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>

            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn color="primary" dark v-bind="attrs" v-on="on" icon>
                  <v-icon @click="goTo('/investments')">mdi-eye</v-icon>
                </v-btn>
              </template>
              <span>Show invests</span>
            </v-tooltip>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import {mapActions, mapGetters} from "vuex"

export default {
  name: 'Cards',
  data: () => ({
    total: 0,
  }),
  computed: {
    ...mapGetters({
      profit: "wallet/profit",
    })
  },
  methods: {
    ...mapActions('navigation', [
      'setNewPath'
    ]),
    goTo(path) {
      this.$store.commit('navigation/setSelectedItem', this.$store.getters['navigation/items'].findIndex(item => item.path === path))
      this.setNewPath()
    },
    share(data) {
      navigator.share(data)
    },
    getChange() {
      return this.$store.getters["wallet/totalPriceChangePercentage24hInCurrencies"];
    }
  },
  created() {
    this.total = this.$store.getters["wallet/myMoney"].reduce((sum, item) => sum + item.total, 0);
  }
}
</script>
