<template>
  <Pie :chart-data="chartData" :key="key" />
</template>

<script>
import { Pie } from "vue-chartjs/legacy";
import {
  Chart as ChartJS,
  Title,
  Tooltip,
  Legend,
  BarElement,
  CategoryScale,
  LinearScale,
  ArcElement,
} from "chart.js";
import * as utils from "@/services/utils";
import { mapGetters } from "vuex";

ChartJS.register(
  Title,
  Tooltip,
  Legend,
  ArcElement,
  BarElement,
  CategoryScale,
  LinearScale
);

export default {
  name: "DashboardPie",
  components: {
    Pie,
  },
  data: () => ({
    key: 0,
    chartData: {
      labels: [],
      datasets: [
        {
          label: "Wallet",
          backgroundColor: [],
          data: [],
          hoverOffset: 4,
        },
      ],
    },
    chartOptions: {
      responsive: true,
      maintainAspectRatio: false,
      animation: false,
    },
  }),
  computed: {
    ...mapGetters({
      myMoney: "wallet/myMoney",
      priceChangePercentage24hInCurrency:
        "wallet/priceChangePercentage24hInCurrency",
    }),
  },
  methods: {
    color(percentage) {
      return utils.color(percentage);
    },
    get24h(id) {
      let data = this.priceChangePercentage24hInCurrency.find((priceChange) => {
        return priceChange.id === id;
      });
      if (data != null) {
        return data.eur;
      }
      return 0;
    },
    updatePieData() {
      this.chartData.labels = this.myMoney.map((item) => item.name);
      this.chartData.datasets[0].data = this.myMoney.map((item) => item.total);
      this.chartData.datasets[0].backgroundColor = this.myMoney.map((item) =>
        this.color(this.get24h(item.name))
      );
      this.key += 1;
    },
  },
  created() {
    this.$store.subscribe((mutation) => {
      if (
        mutation.type === "wallet/addPriceChangePercentage24hInCurrency" ||
        mutation.type === "wallet/setMyMonney" ||
        mutation.type === "navigation/setSelectedItem"
      ) {
        this.updatePieData();
      }
    });
    this.updatePieData();
  },
};
</script>
