<template>
  <v-card :key="reload">
    <v-card-title>
      <span v-if="!disabled" class="text-h5">Add currency</span>
      <span v-else class="text-h5">Add trade</span>
    </v-card-title>

    <v-card-text>
      <v-container>
        <v-row>
          <v-col cols="12" md="6">
            <v-autocomplete
              v-model="currency"
              :items="currencies"
              item-text="name"
              item-value="name"
              return-object
              label="Currency*"
              required
              :disabled="disabled"
            ></v-autocomplete>
          </v-col>

          <v-col cols="12" md="6">
            <v-text-field
              type="number"
              v-model="quantity"
              label="Quantity*"
              required
            ></v-text-field>
          </v-col>
        </v-row>
      </v-container>
      <small>*fields required</small>
    </v-card-text>

    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn text @click="emitToParent(false)"> close </v-btn>
      <v-btn text @click="addCurrency"> Add </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { retrieveCoinDetail } from "../../services/coingecko.js";
import { addCurrency } from "../../services/database.js";
import {mapGetters} from "vuex";
import updateWalletMoneyData from "@/services/dataProvider";

export default {
  name: "CardAddCurrencyForm",
  props: ["dialog", "tradeCurrency"],
  data: () => ({
    valid: false,
    currency: null,
    quantity: null,
    disabled: false,
    reload: 0,
  }),
  computed: {
    ...mapGetters({
      currencies: "wallet/currencies"
    })
  },
  methods: {
    addCurrency() {
      if (!this.quantity) {
        alert("Please select quantity.");
      } else {
        const promise = retrieveCoinDetail(this.currency.id);

        promise.then((response) => {
          if (!response.data.market_data.current_price.eur) {
            alert("The currency price is not available in Eur.");
          } else {
            alert(
              `You just added ${this.quantity} ${
                response.data.symbol
              }, in euro : ${
                this.quantity * response.data.market_data.current_price.eur
              }`
            );
            addCurrency(
              this.$store.getters["user/email"],
              this.quantity,
              response.data
            );
            this.currency = null;
            this.quantity = null;
            updateWalletMoneyData();
            this.emitToParent(false);
          }
        });
      }
    },
    emitToParent(newValue) {
      this.reload += 1
      this.$emit("update:dialog", newValue);
    },
  },
  created() {
    if (this.tradeCurrency) {
      console.log(this.tradeCurrency)
      this.currency = this.currencies.find(
          (_currency) => _currency.id === this.tradeCurrency
      );
      this.disabled = true;
    }
  }
};
</script>
