<template>
  <v-app>
    <v-app-bar app color="primary" dark>
      <div class="d-flex align-center">
        <v-icon>mdi-wallet</v-icon>
        <span class="pl-2">myWallet</span>
      </div>

      <v-spacer></v-spacer>

      <v-btn text v-if="isLogged" @click="onClick">
        <span class="mr-2">Log out</span>
        <v-icon>mdi-logout</v-icon>
      </v-btn>
    </v-app-bar>

    <v-main :style="paddingLeft()">
      <v-card class="ma-4" style="height: 95%">
        <router-view />
      </v-card>
    </v-main>

    <NavigationDrawer v-show="!isPhone()" class="pt-15" v-if="isLogged" />
    <BottomNavigation v-show="isPhone()" v-if="isLogged" />
  </v-app>
</template>

<script>
import NavigationDrawer from "@/components/NavigationDrawer.vue";
import BottomNavigation from "@/components/BottomNavigation.vue";

import { mapGetters } from "vuex";

export default {
  name: "App",
  components: {
    NavigationDrawer,
    BottomNavigation,
  },
  data: () => ({}),
  computed: {
    ...mapGetters({
      isLogged: "user/isLogged",
      myMoney: "wallet/myMoney",
    }),
  },
  methods: {
    onClick() {
      this.$store.commit("user/setIsLogged", false);
      this.$router.push("/login");
    },
    paddingLeft() {
      return (this.isLogged && this.$vuetify.breakpoint.lg) ||
        (this.isLogged && this.$vuetify.breakpoint.xl)
        ? "padding-left: 256px;"
        : "";
    },
    isPhone() {
      return this.$vuetify.breakpoint.lg || this.$vuetify.breakpoint.xl
        ? false
        : true;
    },
  },
  created() {
    
  },
};
</script>
