<template>
    <v-form v-model="valid">
        <v-container>
            <v-row>
                <v-col cols="12" md="3">
                    <v-text-field
                        v-model="firstName"
                        :rules="nameRules"
                        :counter="10"
                        label="First name"
                        required
                    ></v-text-field>
                </v-col>

                <v-col cols="12" md="3">
                    <v-text-field
                        v-model="lastName"
                        :rules="nameRules"
                        :counter="10"
                        label="Last name"
                        required
                    ></v-text-field>
                </v-col>

                <v-col cols="12" md="4">
                    <v-text-field v-model="email" :rules="emailRules" label="E-mail" required></v-text-field>
                </v-col>

                <v-col cols="12" md="2">
                    <v-text-field
                        type="password"
                        v-model="password"
                        :rules="passwordRules"
                        label="Password"
                        required
                    ></v-text-field>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="12">
                    <v-btn block @click="onClick">Update</v-btn>
                </v-col>
            </v-row>
        </v-container>
    </v-form>
</template>

<script>
import { update } from "@/services/user.js"

export default {
    name: 'UpdaterForm',
    data: () => ({
        valid: false,
        nameRules: [
            v => !!v || 'Name is required',
            v => v.length <= 10 || 'Name must be less than 10 characters',
        ],
        passwordRules: [
            v => !!v || 'Password is required',
            v => v.length >= 5 || 'Password must be more than 5 characters',
        ],
        emailRules: [
            v => !!v || 'E-mail is required',
            v => /.+@.+/.test(v) || 'E-mail must be valid',
        ],
        firstName: null,
        lastName: null,
        email: null,
        password: null,
        oldEmail: null
    }),
    methods: {
        onClick() {
            if (update(this.oldEmail, this.firstName, this.lastName, this.email, this.password)) {
              this.$store.commit("user/setEmail", this.email)
              this.$store.commit("user/setFirstName", this.firstName)
              this.$store.commit("user/setLastName", this.lastName)
              this.$store.commit("user/setPassword", this.password)
              alert('User successfully updated.');
            }
        }
    },
    created() {
        this.firstName = this.$store.getters['user/firstName']
        this.lastName = this.$store.getters['user/lastName']
        this.email = this.$store.getters['user/email']
        this.password = this.$store.getters['user/password']
        this.oldEmail = this.email
    }
}
</script>
